build:
  type: text
  content: |
    #!/bin/sh

    # make all 
    # docker build 
deploy:
  type: netlify
  content:
    site_env: []
test:
  - name: adsca
    configType: artillery
    configPath: voter/voter.yaml
  - name: asdasdc
    configType: artillery
    configPath: service-test-suite/test-suite.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Ishan Rai
lastUpdatedOn: 2023-05-08T09:48:01.639Z
