build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: netlify
  content:
    site_env:
      - key: test
        value: '123'
        proxyPort: false
      - key: test123
        value: ''
        proxyPort: true
        port: '30040'
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Ishan Rai
lastUpdatedOn: 2023-03-01T13:50:42.451Z
